
<div class="container">
    <div class="about">
        <h1>About Drexel Marketplace</h1>
        
        <p>Welcome to Drexel Marketplace, your go-to destination for buying and selling goods within the vibrant community of Drexel University!</p>
    </div>

    <!-- <p-card> -->
        <div class="mission">
            <img src="https://www.flipdish.com/uploads/inner/ways-to-successfully-manage-a-fleet-of-restaurant-food-delivery-drivers-2.jpg">
            <h2 style="margin-right: 200px">Our Mission</h2>
            <p style="margin-right: 200px">At Drexel Marketplace, our mission is to provide a convenient and trusted platform for students and faculty to engage in safe and efficient transactions. We aim to streamline the process of buying and selling within the Drexel community, making it easier for individuals to find what they need and connect with others.</p>
        </div>

        <div class="who">
            <img src="http://drexel.edu/studentlife/~/media/Drexel/Sites/StudentLife/Images/campus-living/dining/dining/dining_16x9.ashx">
            <h2 style="margin-left: 200px">Who We Are</h2>
            <p style="margin-left: 200px">Drexel Marketplace is the premier online platform serving the diverse needs of the Drexel University community. Our focus is on providing a seamless experience for buyers and sellers alike, ensuring that transactions are efficient, secure, and convenient.</p>
        </div>
        
        <h2>What We Offer</h2>
        <p>With Drexel Marketplace, you can:</p>

        <div class="row">
            <div class="column">
                <h3><strong>Buy and Sell with Confidence</strong> </h3>
                <p>Our platform prioritizes safety and security, offering a trustworthy environment for all transactions. We implement measures to verify user identities and protect against fraud.</p>
            </div>

            <div class="column">
                <h3><strong>Discover a Wide Range of Items</strong></h3> 
                <p>Whether you're in search of textbooks for your next class, furniture for your dorm room, electronics, clothing, or gadgets to enhance your study sessions, Drexel Marketplace has you covered. Our extensive range of categories ensures that you can find what you need quickly and easily.</p>
            </div>
            
            <div class="column">
                <h3><strong>Enjoy a Seamless Experience</strong></h3>
                <p>Our user-friendly interface makes buying and selling a breeze. List your items with ease or browse through listings effortlessly, ensuring a smooth and enjoyable experience for all users.</p>
            </div>
        </div>
    <!-- </p-card> -->

    <div class="get-involved">
        <h2>Get Involved</h2>
        <p>Are you ready to join the Drexel Marketplace community? Whether you're a student looking to declutter your space, a faculty member in need of resources, or someone simply looking for a great deal, we invite you to explore all that our platform has to offer. Sign up today and start buying, selling, and connecting!</p>
        <p>Thank you for choosing Drexel Marketplace!</p>
    </div>
</div>
