<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="https://drexel.edu/~/media/Images/identity/pageLogos/Drexel_Horizontal_Lockup_HEX_600.ashx?la=en" height="40" class="mr-2" />
        
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText pInputIcon="pi pi-search" placeholder="Search" class="w-full" />
        <p-button class="cart" icon="pi pi-shopping-cart" (click)="navigateToCart($event)" [style]="{ 'background-color': '#07294D' }"></p-button>
        <!-- <p-button class="cart" icon="pi pi-shopping-cart" (click)="navigateToCart()" [style]="{ 'background-color': '#07294D' }"></p-button> -->
        <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{ 'width': '45px', 'height': '45px' }" (click)="navigateToAccountPage()"></p-avatar>
    </ng-template>
</p-menubar>