<p-toast></p-toast>
<p-table #dt [value]="products" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products" [rowsPerPageOptions]="[5,10,15]" [globalFilterFields]="['name','price']">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between align-items-center gap-4">
        <h3>View All Products</h3>
        <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="filterProducts($event)" placeholder="Search by name or price" />
    </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price | currency:'USD':'symbol' }}</td>
            <td>
                {{ product.quantity }}
            </td>
            <td>{{ product.total | currency:'USD':'symbol' }}</td>
        </tr>
    </ng-template>
</p-table>
