<!-- <h1 style="color: green;  
           text-align:center;"> 
  GeeksforGeeks 
</h1>  -->
<!-- <body> -->
    <!-- <p-card> -->
<p-carousel [value]="tutorials"  
            [autoplayInterval]="1000"  
            [circular]="true"
            [autoplayInterval]="3000"> 
    <ng-template let-item pTemplate="item"> 
        <h1>{{ item.title }}</h1> 
        <p-image [src]="item.image"  
                alt="Image" 
                width="100%"
                height="600px">
        </p-image> 
    </ng-template> 
</p-carousel>
    <!-- </p-card> -->

<!-- <p-card> -->
    <h1 style="margin-left: 50px">How to Get Started</h1>
    <div class="row">
        <div class="column">
            <p-image src="https://cdn2.iconfinder.com/data/icons/user-interface-outlined-2020/48/create_new_account-1024.png" width="200" height="200" class="center" (click)="navigateToRegisterPage()"></p-image>
            <h2 class="center"><strong>Create an account</strong> </h2>
        </div>

        <div class="column">
            <p-image src="https://www.nicepng.com/png/full/285-2851862_add-to-cart-png.png" width="200" height="200"  class="center" (click)="navigateToUpdatePage()"></p-image>
            <h2 class="center"><strong>Add your product with details</strong></h2> 
        </div>
        
        <div class="column">
            <p-image src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3232097/browse-icon-md.png" width="200" height="200"  class="center" (click)="navigateToDetailsPage()"></p-image>
            <h2 class="center"><strong>Browse products from other students</strong></h2>
        </div>
    </div>
<!-- </p-card> -->
<!-- </body> -->