
<div class="container">
    <div *ngIf="user">
        <h2>You are currently logged in as {{user.email}}</h2>
    </div>
    <h1>Account</h1>
    
    <!-- <h2>Manage your account settings</h2> -->
    
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4">
            <!-- <p-avatar [image]="user.image" size='xlarge' shape="circle"></p-avatar> -->
            <p-button label="Logout" (onClick)="logout()" [style]="{ 'background-color': '#006699', 'margin-bottom': '20px', 'width': '100px', 'float': 'right' }"></p-button>
        </div>
        <div class="p-field p-col-12 p-md-8">

            <h2>Personal Info</h2>
            <div class="p-field p-col-12 p-md-6">
                <label for="name">Name</label> <br>
                <input pInputText id="name" [(ngModel)]="user.name" required [style]="{'margin-bottom': '20px', 'width': '30%'}" />
            </div>
    
            <div class="p-field p-col-12 p-md-6">
                <label for="email">Email</label> <br>
                <input pInputText id="email" [(ngModel)]="user.email" type="email" required [style]="{'width': '30%'}"/>
            </div>

            <h2>Security</h2>
            <div class="p-field p-col-12 p-md-6">
                <label for="password">Password</label>
                <p-password id="password" [(ngModel)]="user.password" [feedback]="false" required [style]="{'margin-bottom': '20px', 'width': '30%'}"></p-password>
            </div>
        
            <div class="p-field p-col-12 p-md-6">
                <label for="confirm">Confirm Password</label>
                <p-password id="confirm" [(ngModel)]="user.confirm" [feedback]="false" required [style]="{'margin-bottom': '20px', 'width': '30%'}"></p-password>
            </div>
        
            <div class="p-field p-col-12" id="buttons">
                <p-button label="Update" (onClick)="update()" [style]="{ 'background-color': '#006699', 'margin-bottom': '20px', 'width': '100px' }"></p-button>
                <p-button label="Delete" (onClick)="delete()" [style]="{ 'background-color': '#9E0B0F', 'margin-bottom': '20px', 'width': '100px', 'float': 'right' }"></p-button>
                
            </div>
            <p-messages></p-messages>
        </div>
    </div>
</div>