<div class="page">
    <div class="register">
      <h1>Register an Account</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
          <input type="email" pInputText placeholder="Email" formControlName="email" />
          <div *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].touched">
            <div *ngIf="registerForm.controls['email'].errors['required']">
              Email is required.
            </div>
            <div *ngIf="registerForm.controls['email'].errors['email']">
              Email must be a valid email address.
            </div>
          </div>
        </div>
        <br>
        <div>
          <input type="password" pInputText placeholder="Password" formControlName="password" />
          <div *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].touched">
            Password is required and must be at least 6 characters.
          </div>
        </div>
        <br>
        <div>
          <input type="password" pInputText placeholder="Re-enter Password" formControlName="confirmPassword" />
          <div *ngIf="registerForm.controls['confirmPassword'].errors && registerForm.controls['confirmPassword'].touched">
            <div *ngIf="registerForm.controls['confirmPassword'].errors['required']">
                Confirm Password is required.
            </div>
            <div *ngIf="registerForm.controls['confirmPassword'].errors['mustMatch']">
              Passwords must match.
            </div>
          </div>
        </div>
        <br>
        <button pButton type="submit" label="Register" [disabled]="registerForm.invalid" [style]="{ 'background-color': '#006699' }"></button>
      </form>
      <br>
      <p-button label="Or sign in" [link]="true" (click)="navigateToSignIn($event)" [style]="{ 'color': '#006699' }"></p-button>
    </div>
  </div>
  