<div class="page">
  <div class="register">
    <h1>Register an Account</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="p-field">
        <!-- <label for="email">Email</label> -->
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          <small *ngIf="registerForm.get('email')?.errors?.['required']" style="color: red">Email is required.</small>
          <small *ngIf="registerForm.get('email')?.errors?.['email']" style="color: red">Email must be a valid email address.</small>
        </div>
        <input type="email" pInputText placeholder="Email" formControlName="email" id="email" />

      </div>

      <div class="p-field">
        <!-- <label for="password">Password</label> -->
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          <small *ngIf="registerForm.get('password')?.errors?.['required']" style="color: red">Password is required.</small>
          <small *ngIf="registerForm.get('password')?.errors?.['minlength']" style="color: red">Password must be at least 6 characters long.</small>
        </div>
        <input type="password" pInputText placeholder="Password" formControlName="password" id="password" />

      </div>

      <div class="p-field">
        <!-- <label for="confirmPassword">Confirm Password</label> -->
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
          <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']" style="color: red">Confirm Password is required.</small>
          <small *ngIf="registerForm.get('confirmPassword')?.errors?.['mustMatch']" style="color: red">Passwords must match.</small>
        </div>
        <input type="password" pInputText placeholder="Re-enter Password" formControlName="confirmPassword" id="confirmPassword" />
      </div>
        <br>
        <p-button type="submit" label="Register" [disabled]="registerForm.invalid" [style]="{ 'background-color': '#006699' }"></p-button>
      </form>
      <br>
      <p-button label="Or sign in" [link]="true" (click)="navigateToSignIn()" [style]="{ 'color': '#006699' }"></p-button>
    </div>
  </div>
  