<body>

    <div class="register">
        <h1>Register an Account</h1>
        <input pInputText placeholder="Email" formControlName="email" /> <br>
        <input pInputText placeholder="Password" type="password" formControlName="password" /> <br>
        <input pInputText placeholder="Re-enter Password" type="password" formControlName="password" /> <br>
        <p-button label="Sign In" type="submit"></p-button> <br>
        <p-button [link]="true" routerLink="/sign-in">Or sign in.</p-button>
    </div>

</body>